/* .content
{
  margin-top: 50vh;
  margin-right: 30%;
  margin-left: 30%;
} */

.content{
  display: flex;
  justify-content: space-evenly;
}

.content-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  height: 100vh;
}

.content-right img{
  height: 80%;
}

.content-left{
  display: flex;
  flex-direction: column;
  width: 45%;
  width: 40%;
  margin-top: 20vh;
  height: 40vh;
  
}

.home-page{
    height: 100vh;
    display: flex;
    background-repeat: round;
    flex-direction: column;
    background-size: contain;
    justify-content: center;
    background-image: url(../public/organ.jpeg);
}

.home-page p{
  text-align: center;
}

h1{
  text-align: center;
}

.home-page-landing-plate{
  background-color:antiquewhite;
}